* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


/* header */

header {
    background-color: #1F2937;
    font-size: 18px;
    display: flex;
    justify-content: space-around;
    padding-top: 12px;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    
}

.header-links {
    display: flex;
    justify-content: space-between; 
    gap: 40px;
}

/*header links*/

.header-links a,
li {
    text-decoration: none;
    list-style-type: none;
    color: #E5E7EB;
}

/*hero, part above main page*/

.hero {
    background-color: #1F2937;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-evenly

}

.left-hero h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.left-hero {
    flex-basis: 400px;
    font-size: 18px;
    color: #E5E7EB;
}

.right-hero {
    flex-basis: 400px;
}