* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-family: Roboto, Arial, Helvetica, sans-serif;
}





/* header */

header {
    background-color: #1F2937;
    font-size: 18px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    gap: 470px;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;

}

.header-links {
    display: flex;
    justify-content: space-between;
    gap: 26px;
}

/*header links*/

.header-links a,
li {
    text-decoration: none;
    list-style-type: none;
    color: #E5E7EB;
}

/*hero, part above main page*/

.hero {
    background-color: #1F2937;
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.left-hero h1 {
    font-size: 48px;
    font-weight: 9  00;
    color: #F9FAF8;
}

.left-hero {
    columns: #1F2937;
    font-size: 36px;
    flex-basis: 500px;
    font-size: 18px;
    color: #E5E7EB;
}

.right-hero {
    flex-basis: 500px;
}

button {
    background-color: #3882F6;
    border: none;
    color: #fff;
    font-weight: 800;
    padding: 10px 20px;
    text-align: center;
    border-radius: 12px;
    font-size: 18px;
    margin-top: 12px;
    width: 140px;
}

/* image section */

.image-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
}

.image-section h2 {
    padding: 50px;
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}

.images {
    display: flex;
    gap: 50px;
}

.image-text {
    display: flex;
    flex-direction: column;
    width: 165px;
    height: 165px;
    text-align: center;
    align-content: center;
}

.image-text img {
    border: solid #3882F6 4px;
    border-radius: 15px;
    margin-bottom: 10px;
}

.image-text p {
    color: #535353;
}

/* quote section */

.quote-section {
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
    margin-top: 100px;
}

.quote {
    max-width: 800px;
    padding: 110px 0;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
    display: flex;
    flex-direction: column;
}

.quote-author {
    align-self: flex-end;
    font-weight: bold;
    font-size: 30px;
    padding-top: 20px;
}

/* call to action */

.callAction-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.callAction-banner {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    margin: 80px;
    padding: 55px 120px;
    background-color: #3882F6;
    font-size: 18px;
    color: #E5E7EB;
    border-radius: 10px;
    flex-basis: 1150px;
}

.callAction-banner h3 {
    font-size: 26px;
}

.callAction-banner button {
    border: solid 3px #fff;
}